FORMAT: 1A
HOST: https://api.yclients.com/api/v1

[email]:  support@yclients.com
[api_host]: https://api.yclients.com/api/v1

# YCLIENTS API v2.0

Это официальный документ, описывающий взаимодействие с сервисом онлайн-бронирования YCLIENTS.

При проектировании методов, мы старались придерживаться архитектуры [REST](https://ru.wikipedia.org/wiki/REST)

Все обращения к протоколу осуществляются с использованием SSL-шифрования.

**Лимиты**
200 запросов в минуту, или 5 запросов в секунду на один IP-адрес.

**URL API:**
https://api.yclients.com

_Вопросы, пожелания, сообщения об ошибках можно направлять по адресу support@yclients.com_

API позволяет сторонним разработчикам выполнять
большинство операций с платформой YCLIENTS.

**Внимание! Большинство обращений в техническую поддержку связаны
с тем, что разработчики не читают документацию.
Обязательно прочтите раздел INTRODUCTION полностью и внимательно ознакомьтесь с информацией
на других ресурсах, на которые мы ссылаемся. Для тестирования запросов мы рекомендуем использовать сервис [Postman](https://www.getpostman.com/),
при обращении в службу поддержки используйте скриншоты из Postman.**

[![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/ece1299c18ac7d3eea09)



## SDK

Ниже приведены ссылки на SDK сторонних разработчиков. В ближайшее время мы планируем подключиться к их улучшению и развитию. И всегда привествуем Opensource инициативы, если у вас есть возможности и желание развивать одну из предложенных библиотек это принесет общую пользу. Если решите создать свою - сообщите нам о ней, мы примем участие в развитии и разместим ссылку на нее здесь.

**PHP:**
https://github.com/SlowProg/yclients-api

**PHP LARAVEL:**
https://github.com/robotNIXX/yclients-laravel

**PHP LARAVEL (2):**
https://github.com/e-nikitin/yclients-laravel-sdk

## Кейсы интеграции с YCLIENTS

1. Обмен данными с программи для автоматизации и учета.
2. Интеграция онлайн-записи в стронние сайты и мобильные приложения (каталоги компаний, приложения компаний и т.п.)

## Общее описание обмена данными с YCLIENTS

API для интеграции с YCLEINTS содержит две группы методов:
1. _Методы требующие авторизацию пользователя и авторизацию партнера_
2. _Методы не требующие авторизации пользователя, но требующие авторизацию партнера_

### Авторизация запросов API

Для обращений и к первой и ко второй группе методов
требуется *авторизация партнера*. Т.е. передача
уникального hash-ключа партнера.

Авторизация запросов к API производится в соответствии с [RFC 6749 "Resource Owner Password Credentials Grant"](https://tools.ietf.org/html/rfc6749#section-4.3).
При запросах к API в HTTP заголовок Authorization должен быть включен ключ доступа в следущем формате:

```
Authorization: Bearer <partner token>
```

Для того, чтобы
получить этот ключ, свяжитесь с нами по адресу
support@yclients.com и опишите, для каких целей вы планируете использовать API.

Для получения API-ключа пользователя используйте метод **auth**. Передавать сам ключ нужно также в заголовке запроса (после ключа партнера через запятую):

```
Authorization: Bearer <partner token>, User <user token>
```

Нужна ли авторизация пользователя для работы с теми или иными сущностями нужно смотреть в описаниях формата данных и примерах запросов.

### Дата и время
Все даты в API представлены в виде строк в формате ISO 8601:

```
"2014-09-21T23:00:00.000+03:00"
```

Длительности услуг и других сущностей передаются в **секундах**. Например, если услуга длиться 15 минут, то формат данных следующий:

```
{ "length": 900 }
```

## Концепты YCLIENTS API

API позволяет работать с основными сущностями платформы:

* **Компания**
* **Пользователь**
    Пользователи могут управлять компаниями,
    они имеют права доступа к определенным настройкам компании.
    Не все пользователи имеют доступ ко всем настройкам.
    Для того, чтобы изменять те или иные настройки нужно сначала
    получить API-ключ пользователя с соответсвующими правами.
* **Категория услуг**
    Все услуги компании группируются в рамках категории услуг .
* **Услуга**
    Как правило, запись производится на определенную услугу,
    которую оказывает определенный сотрудник в определенной компании.
    Услуга имеет диапазон стоимости и некоторые другие параметры.
* **Сотрудник**
    Как правило, запись производится, к определенному сотруднику
    или _ресурсу_ (например, подъемник или квест-комната).
* **Расписание сотрудника**
    У каждого сотрудника есть график работы - итервалы времени, в которое
    сотрудник работает с клиентами.
* **Свободное время сотрудника**
    Время на которое можно записаться
    к сотруднику, т.е. интервалы времени, в которые он свободен.
* **Запись**
    Интервал времени, в которое конкретный сотрудник оказывает
    конкретному клиенту услуги. Во время записи сотрудник занят.
* **Клиент**
    Человек, который записывался на услугу в компанию.

### Модель данных YCLIENTS API

Для работы с данными используется четыре основных структуры:

1. **Сущность**
    Одна из перечисленных выше сущностей,
    обладающая своими уникальными свойствами и параметрами.
    Сущности можно получать, изменять и удалять

2. **Коллекция сущностей**
    Набор сущностей. Например, список компаний
    или список услуг, оказываемых компаний.
    В коллекции сущностей можно *добавлять*
    сущности.

3. **Связь сущностей**
    Например, связь сотрудника и услуги
    определяет, что конкретный сотрудник
    оказывает конкретную услугу.
    У связи могут быть свои свойства,
    например, индивидуальная цена услуги
    для конкретного сотрудника

4. **Коллекция связей сущностей**
    Например, список услуг, оказываемых
    сотрудником и их свойсва. В коллекции
    можно *добавлять связи*

# Group Авторизация
Для вызова многих методов требуется получить API-ключ пользователя, который будет использоваться для доступа к закрытым данным.

## Авторизовать пользователя [/auth]
При смене пароля польователем его API-ключ изменится и потребуется новая авторизация

| Атрибут  | Тип | Описание |
| ------------- | ------------- | ------------- |
| login  | string  | В качестве логина может быть использован номер телефона пользователя в формате 79161234567 или его Email |
| password  | string  | Пароль пользователя |


### Авторизовать пользователя [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer partner_token

    + Attributes
        + login: `testuser@yclients.com` (required, string) - Номер телефона или Email
        + password: `testpass` (required, string) - Пароль

+ Response 201 (application/json)

    + Attributes (object)
        + user_token: `wec23fh8cDfFV4432fc352456` (string) - User Access Token


# Data Structures

## FullClientSearchRequest (object)

+ page: 1 (number, optional) - номер страницы

+ page_size: (number, optional) - количество выводимых строк на странице. Максимум 200
    + Default: `25`

+ fields: `id` (array, optional)
    + Default: `id`
    + Members
        + `id` (string)
        + `name` (string)
        + `phone` (string)
        + `email` (string)
        + `discount` (string)
        + `first_visit_date` (string)
        + `last_visit_date` (string)
        + `sold_amount` (string)
        + `visits_count` (string)

+ order_by: `id` (enum, optional) - по какому полю сортировать
    + Default: `id`
    + Members
        + `id` (string)
        + `name` (string)
        + `phone` (string)
        + `email` (string)
        + `discount` (string)
        + `first_visit_date` (string)
        + `last_visit_date` (string)
        + `sold_amount` (string)
        + `visits_count` (string)

+ order_by_direction: `ASC` (enum, optional) - как сортировать
    + Default: `ASC`
    + Members
        + `DESC` (string)
        + `ASC` (string)

+ operation: `AND` (enum[string], optional) - тип операции
    + Default: `AND`
    + Members
        + `AND` (string)
        + `OR` (string)

+ filters (ClientSearchFilters) - фильтры для поиска по клиентам

## ClientIdFilter (object)
+ type: 'id' (required, string)
    Поиск по идентификатору клиента
+ state: (object)
    + invert: (optional, boolean)
    + value: (array)
        + `1` (number)
        + `2` (number)

## ClientQuickSearchFilter (object)
+ type: 'quick_search' (required, string)
    Поиск по номеру телефона, дополнительному номеру телефона, имени, карте клиента
+ state: (required, object)
    + invert: (optional, boolean)
    + value: `Владимир` (string)

## ClientBirthdayFilter (object)
+ type: 'birthday' (required, string)
    Поиск по дню рождения клиента
+ state: (required, object)
    + invert: (optional, boolean)
    + from: `1985-03-22` (optional, string)
        Дата начала поискового периода (формат гггг-мм-дд)
    + to: `1985-03-23` (optional, string)
        Дата конца поискового периода (формат гггг-мм-дд)

## ClientSexFilter (object)
+ type: 'gender' (required, string)
    Поиск по полу клиента
+ state: (required, object)
    + invert: (optional, boolean)
    + value: (optional, array)
        + Members
            + `0` (number) - не указан
            + `1` (number) - мужской
            + `2` (number) - женский

## ClientImportanceFilter (object)
+ type: 'importance' (required, string)
    Поиск по важности клиента
+ state: (required, object)
    + invert: (optional, boolean)
    + value: (optional, array)
        + Members
            + `0` (number) - не указан
            + `1` (number) - бронза
            + `2` (number) - серебро
            + `3` (number) - золото

## ClientHasPassTeamCardFilter (object)
+ type: 'has_passteam_card' (required, string)
    Поиск по наличию карты Passteam у клиента
+ state: (required, object)
    + invert: (optional, boolean)
    + value: (optional, boolean)

## ClientCategoryFilter (object)
+ type: 'category' (required, string)
    Поиск по категории клиента
+ state: (required, object)
    + invert: (optional, boolean)
    + value: `1` (required, array[number])
        Список категорий

## ClientHasMobileAppFilter (object)
+ type: 'has_mobile_app' (required, string)
    Поиск по наличию установленного мобильного приложения у клиента
+ state: (object, required)
    + invert: (optional, boolean)
    + value: (required, boolean)

## ClientSmsNotificationFilter (object)
+ type: 'sms_notification' (required, string)
    Поиск по осуществлению смс рассылки за определённый период
+ state: (object, required)
    + invert: (optional, boolean)
    + from: (required, string)
    + to: (required, string)

## SoldAmountFilter (object)
+ type: 'sold_amount' (required, string)
    Поиск по сумме проданного клиенту
+ state: (object, required)
    + from: `0` (optional, number)
        От
    + to: `777.3` (optional, number)
        До

## RecordFilter (object)
+ type: 'record' (required, string)
    Поиск по записям клиента
+ state: (object, required)
    + invert: (optional, boolean)
    + staff: (optional, object)
        + value: `1` (required, array[number])
            Список мастеров
    + service: (optional, object)
        + value: `1` (required, array[number])
            Список услуг
    + service_category: (optional, object)
        + value: `1` (required, array[number])
            Список категорий услуг
    + status: (optional, object)
        + value: `1` (required, array)
            Список статусов
            + Members
                + `1` (number) - клиент не пришел
                + `2` (number) - ожидание
                + `3` (number) - клиент пришел
                + `4` (number) - клиент подтвердил
    + created: (optional, object)
        + from: `1985-03-22` (optional, string)
            Дата начала поискового периода (формат гггг-мм-дд)
        + to: `1985-03-23` (optional, string)
            Дата конца поискового периода (формат гггг-мм-дд)
    + records_count: (optional, object)
        + from: `1` (optional,  number)
            От
        + to: `5` (optional, number)
            До
    + sold_amount: (optional, object)
        + from: `1` (optional,  number)
            От
        + to: `5` (optional, number)
            До

## ClientFilter (object)
+ type: 'client' (required, string)
    Частный случай поиска с использованием любых существующих фильтров
+ state: (object, required)
    Содержит набор существующих фильтров где в качестве ключа укказан тип фильтра из перечисленных выше, а в качестве значения состояние фильтра.
    Пример: {
        "id": {
            "value": [1, 2, 3]
        },
        "birthday": {
            "from": "1985-03-22",
            "to": "1985-03-23"
        }
    }

## ClientSearchFilters (array)
+ (ClientIdFilter, optional)
+ (ClientQuickSearchFilter, optional)
+ (ClientBirthdayFilter, optional)
+ (ClientImportanceFilter, optional)
+ (ClientHasPassTeamCardFilter, optional)
+ (ClientCategoryFilter, optional)
+ (ClientHasMobileAppFilter, optional)
+ (RecordFilter, optional)
+ (SoldAmountFilter, optional)
+ (ClientSexFilter, optional)
+ (ClientFilter, optional)

## Seance (object)

+ time: '17:00' (required, string) - Время сеанса
+ length: 9600 (required, number) - Длительность сеанса
+ datetime: '2015-10-01T17:00:00Z' (required, string) - Дата и время сеанса

## Seances (array[Seance])

## Appointment

+ id:1 (required, number) - ID записи по которому будет возвращаться ее хеш в ответет
+ services: [320, 230] (required, array[number]) - Список ID услуг для записи
+ staff_id: 20201 (required, number) - ID сотрудника
+ datetime: '2015-10-01T17:00:00Z' (required, string) - Дата и время сеанса
+ custom_fields (optional, object) - Дополнительные поля записи

## Staff

+ id:1 (required, number) - ID сотрудника
+ name: 'Витя' (required, string) - Имя сотрудника
+ specialization: 'Крематолог' (required, string) - Специализация сотрудника
+ position: {id: 1, title: 'Администратор'} (required, SalonGroupPosition) - Должность сотрудника
+ show_rating: true (required, boolean) - Показывать ли рейтинг сотрудника
+ rating: 5 (required, number) - Рейтинг сотрудника (от 0 до 5)
+ votes_count: 24 (required, number) - Кол-во голосов, поставивших сотруднику оценку
+ comments_count: 24 (required, number) - Кол-во комментариев сотруднику
+ avatar: 'https://yclients.com/uploads/logo.png' (required, string) - Путь к аватарке сотрудника

## ServiceStaff

+ id:1 (required, number) - ID сотрудника
+ seance_length: 1800 (required, number) - Длительность оказания услуги (кратно 15 минутам)

## Company

+ id:1 (required, number) - ID копаниии
+ title: 'ООО Кранты' (required, string) - Название организации
+ country: 'Росссия' (required, string) - Название страны, в которой расположена организация
+ country_id: 5 (required, number) - ID страны
+ city: 'Москва' (required, string) - Название города, в котором расположена организация
+ city_id: 5 (required, number) - ID города
+ phone: '74958008080' (required, string) - Телефон компании
+ timezone: 'Europe/Moscow' (required, string) - Временная зона компании
+ address: 'Ялтинская 3, 190' (required, string) - Адрес компании
+ coordinate_lat: 35.5665 (required, number) - Широта
+ coordinate_lng: 35.5665 (required, number) - Долгота

## Client

+ phone: '79169999999' (optional, string) - телефон клиента
+ name: 'Петр' (optional, string) - Имя клиента
+ email: 'petr@thefirst.com' (optional, string) - email клиента

## ServiceArray

+ id: 141 (optional, number) - id услуги
+ first_cost: 1000 (optional, number) - Начальная стоимость услуги
+ discount: 10 (optional, number) - Скидка на услугу
+ cost: 10 (optional, number) - Итоговая стоимость услуги

## TechnologicalCardItemsArray

+ id: 141 (required, number) - id расходника
+ technological_card_id: 1000 (required, number) - id технологической карты
+ storage_id: 10 (required, number) - id склада
+ good_id: 123 (required, number) - id товара
+ amount: 1 (required, number) - количество товара
+ unit: 'л' (required, string) - единица измерения
+ price: 1.3421 (required, number) - себестоимость расходника
+ title: 'Тест' (required, string) - название товара

## TechnologicalCardsArray

+ id: 141 (required, number) - id тех карты
+ title: 'Тест' (required, string) - название тех карты
+ technological_card_items: (required, array[TechnologicalCardItemsArray]) - массив расходников тех карты

## Consumables

+ goods_transaction_id: 1 (required, number) - id товарной транзакции
+ record_id: 1 (required, number) - id записи
+ service_id: 1 (required, number) - id услуги
+ storage_id: 1 (required, number) - id склада,
+ good_id: 1 (required, number) - id товара,
+ price: 100 (required, number) - себестоимость расходника в записи,
+ amount: 100 (required, number) - количество расходника в записи,
+ good: (required, Good) - товар

## Good
+ id: 1 (required, number) - id товара,
+ title: 100 (required, number) - название товара,
+ unit: 'г.' (required, string) - название единицы измерения,

## GoodsTransactionsArray

+ id (required, number) - id складской транзакции
+ good_id (required, number) - ID товара
+ storage_id (required, number) - ID склада
+ amount (required, number) - сумма
+ type (required, number) - 1 - Продажа товара, 2 - Списание расходников, 3 - Приход товара, 4 - Списание товара
+ master_id (required, number) - ID сотрудника
+ discount (required, number) - Скидка
+ price (required, number) - Стоимость
+ cost (required, number) - Цена продажи
+ operation_unit_type (required, number) - Тип единицы измерения: 1 - для продажи, 2 - для списания

## newTransactionsArray

+ id (required, number) - id финансовой транзакции
+ amount (required, number) - сумма
+ account_id (required, number) - ID кассы

## ImageGroup

+ id: 141 (required, number) - id группы изображений
+ entity: "master" (optional, string) - Название сущности, к которой привязана группа
+ entity_id: 10 (optional, number) - Id сущности
+ images (required, Image) - Список изображений

## Image

+ id: 141 (required, number) - id изображения
+ path: 'https://yclients.com/uploads/masters/norm/4/41/41574b90f81d8d7_20170327194249.jpeg' (required, string) - Путь к изображению
+ width: 10 (required, number) - Ширина изображения
+ height: 20 (required, number) - Высота изображения
+ type: 'jpeg' (required, string) - Тип изображения
+ image_group_id: 20 (required, number) - Id группы изображений
+ version: 'basic' (required, string) - Версия изображения

## UsersGroupsAccess

+ settings_access: 1 (required, number) - доступ к редактированию сети
+ users_access: 0 (required, number) - доступ к редактированию пользователей
+ clients_access: 1 (required, number) - доступ к просмотру клиентской базы
+ loyalty_access: 1 (required, number) - доступ к лояльности
+ loyalty_cards_manual_transactions_access: 1 (required, number) - ручное пополнение/списание с карт лояльности
+ network_services_access: 0 (required, number) - доступ к управлению сетевыми услугами

## LicenseOption

+ id: 2 (required, number) - id опции
+ title: "KKM" (required, string) - Название опции

## ClientLabelDataItem

+ id: 3 (required, number)
+ salon_id: 3 (required, number)
+ title: "Постоянный клиент" (required, string)
+ color: "tag" (required, string)
+ entity: "tag" (required, string)
+ deleted: 1 (required, number)
+ not_editable: 0 (required, number)

## ClientLabelsCode200MetaOption

+ total: "50000" (required, number) - Всего найдено
+ total_count: "300" (required, number) - Максимальное количество записей выводимых на странице

## ClientLabelsCode200Attributes

+ success: true (required, boolean) - флаг показывающий, что ответ выполнен без ошибок (true)
+ data: [] (required, array) - метаданные (пустой массив)
+ meta: {} (required, ClientLabelsCode200MetaOption) - метаданные (пустой массив)

## LoyaltyGenerateCode200DataOption

+ code: "1" (required, string) - Сгенерированный код

## LoyaltyGenerateCode200Option

+ success: true (required, boolean) - флаг показывающий, что ответ выполнен без ошибок (true)
+ data: {} (required, LoyaltyGenerateCode200DataOption) - метаданные (пустой массив)
+ meta: [] (required, array) - метаданные (пустой массив)

## LoyaltyGenerateCodeErrorMetaOption

+ message: "Не нейдено" (required, string) - Сообшение об ошибке

## LoyaltyGenerateCodeErrorOption

+ success: false (required, boolean) - Ошибка
+ data: null (required, string) - Данные об ошибке

## Document

+ id: 2 (required, number) - id опции
+ type_id: 7 (required, number) - id типа документа
+ type_title: "Визит" (required, string) - название типа документа
+ storage_id: 4 (required, number) - id склада
+ user_id: 2452 (required, number) - id пользователя
+ company_id: 4545 (required, number) - id компании
+ number: 543 (required, number) - номер документа в компании
+ comment: "" (required, string) - комментарий
+ date_created: "2018-07-03 11:00:00" (required, string) - дата создания
+ category_id: 1 (required, number) - id категории
+ visit_id: 234234 (required, number) - id визита
+ record_id: 5445 (required, number) - id записи

## SalonGroupPosition

+ id: 2 (required, number) - id должности
+ title: "Администратор" (required, string) - название должности

# Group Онлайн-запись

Для реализации клиентской части онлайн-записи используется следующий набор методов. Они адаптированы для пользовательских сценариев онлайн-записи, в отличии от других REST-методов, которые лучше использовать для интеграциионных целей.

## Настройки формы бронирования/записи [/bookform/{id}]

Каждый клиент сервиса YCLIENTS, может создать неограниченное количество форм онлайн-записи с разным дизайном и для разных сценариев записи.

Обычно, id формы бровнирования хранится в поддомене, например: https://w123.yclients.com, где 123 - id формы записи. С помощью этого парметра можно получить все остальные необходимые для реализации онлайн-записи параметры, понять, будет происходить запись в конкретную компанию или в сеть компаний.

Для сетевого виджета необходимо будет дополнительно обратится к методу [GET] /companies с фильтром company_id и получить список копаний, в которые будет производится запись.


Объект содержащий настройки формы бронирование имеет следующие поля:

| Поле | Тип | Описание |
| ------------- | ------------- | ------------- |
| steps  | Массив объектов  | Шаги формы бронирования со своими настройками  |
| style  | Object  | Настройки дизайна формы бронирования  |
| group_id  | number  | Идентификатор сети компаний (0 - если форма записи для несетевой компании)  |
| company_id  | number  | Идентификатор компании (возвращается всегда, используется для получения дополнительных настроек) |
| phone_confirmation  | boolean  | Нужно ли подтверждать телефон по смс (если groupid = 0 (не групповая форма), иначе смотреть в настройки каждой компании отдельно)
| lang  | string  | Язык формы бронирования (код из массива langs)  |
| langs  | array of object  | Список языков виджета
| comment_required  | boolean | Является ли поле с комментарием к записи обязательным для заполнения
| metrika_counter_id  | string  | Идентификатор Яндекс.Метрики
| google_analytics_id  | string  | Идентификатор Google Analytics
| facebook_pixel_id  | string  | Идентификатор Facebook Pixel
| vkontakte_pixel_id  | string  | Идентификатор Вконтакте пиксель
| app_metrika_id  | string  | Идентификатор Yandex AppMetrika
| sms_enabled  | boolean  | Доступна ли отправка смс
| comment_input_name  | string (optional)  | Заголовок для поля с вводом комментария к записи (если не задано, то используется значение по умолчанию)
| booking_notify_text  | string (optional)  | Текст уведомления, которое выводится (если задано) на шаге ввода контактных данных
| is_show_privacy_policy  | boolean  | Нужно ли отображать пользователю текст соглашения о политике обработки персональных данных
| specialization_display_mode  | number  | Выводить специализацию или должность сотрудника. 0 - Специализация, 1 - Должность

Массив steps состоит из объектов которые имеют следующие поля:

| Поле  | Тип | Описание |  Для каких шагов указан |
| ------------- | ------------- | ------------- | ------------- |
| step  | string | Шаг city/company/service/master/datetime/contact/confirm |  Для всех  |
| title  | string  | Название шага для вывода в интерфейсе |  Для всех  |
| num  | number  | Каким по счету должен выводиться данный шаг (начиная с 1) |  Для всех  |
| default  | string или number  | Значение по умолчанию для данного шага, если задано | Для всех, кроме datetime |
| hidden  | boolean  | Скрыть данный шаг при бронировании или нет |  Для всех |
| date_hidden  | boolean  | Скрыть данный шаг при бронировании или нет |  Для datetime |
| time_hidden  | boolean  | Скрыть данный шаг при бронировании или нет |  Для datetime |
| date_default  | string  | Значение по умолчанию для данного шага, если задано |  Для datetime |
| time_default  | number  | Значение по умолчанию для данного шага, если задано |  Для datetime |

Объект style имеет следующие поля:

| Поле  | Тип | Описание |
| ------------- | ------------- | ------------- |
| show_header  | boolean | Выводить шапку и меню или нет |
| logo  | string  | Путь до картинки логотипа  |
| header_background  | string  | Путь до картинки фона подзаголовка |
| menu_background  | string  | Путь до картинки фона меню  |
| primaryPalette  | string  | Главный цвет формы (все цвета из списка: red, pink, purple, deep-purple, indigo, blue, light-blue, cyan, teal, green, light-green, lime, yellow, amber, orange, deep-orange, brown, grey, blue-grey, white, black) |
| accentPalette  | string  | Второстепенный цвет формы (полупрозрачный cover подзаголовка) |
| warnPalette  | string  | Цвет кнопок формы записи |
| backgroundPalette  | string  | Цвет фона формы записи |

+ Parameters
    + id: `1` (required, number) - id формы бронирования

### Получить настройки формы бронирования [GET]

+ Request (application/json)

    + Headers

            Authorization: Bearer partner_token


+ Response 200 (application/json)

        {
            "steps": [
                {
                    "step": "master",
                    "title": "Выберите спеца",
                    "num": 2,
                    "hidden": "0",
                    "default": "-1"
                },
                {
                    "step": "service",
                    "title": "Выберите услугу",
                    "num": 1,
                    "hidden": "1",
                    "default": "196"
                },
                {
                    "step": "datetime",
                    "title": "Выберите дату и время сеанса",
                    "num": 3,
                    "hidden": false,
                    "date_hidden": "0",
                    "time_hidden": "0",
                    "date_default": "2015-07-23",
                    "time_default": "27900"
                },
                {
                    "step": "contact",
                    "title": "",
                    "num": 3,
                    "hidden": false,
                    "default": 0
                },
                {
                    "step": "comfirm",
                    "title": "",
                    "num": 4,
                    "hidden": false,
                    "default": 0
                }
            ],
            "style": {
                "show_header": true,
                "logo": "https://yclients.com/uploads/logo.png",
                "header_background": "https://yclients.com/uploads/header.png",
                "menu_background": "https://yclients.com/uploads/menu.png",
                "main_color": "666",
                "secondary_color": "999",
                "buttons_color": "FFF",
            },
            "group_id": 1,
            "company_id": 1,
            "phone_confirmation": false,
            "lang": "ru-RU",
            "langs": [
                {
                    "id": 1,
                    "code": "ru-RU",
                    "title": "Русский"
                },
                {
                    "id": 2,
                    "code": "en-US",
                    "title": "English"
                },
                {
                    "id": 4,
                    "code": "lv-LV",
                    "title": "Latviešu valoda"
                },
                {
                    "id": 5,
                    "code": "et-EE",
                    "title": "Eesti keel"
                },
                {
                    "id": 6,
                    "code": "lt-LT",
                    "title": "Летува́"
                },
                {
                    "id": 7,
                    "code": "uk-UK",
                    "title": "Українська"
                },
                {
                    "id": 8,
                    "code": "fr-FR",
                    "title": "Français"
                },
                {
                    "id": 9,
                    "code": "it-IT",
                    "title": "Italiano"
                },
                {
                    "id": 10,
                    "code": "es-ES",
                    "title": "Español"
                },
                {
                    "id": 13,
                    "code": "ka-KA",
                    "title": "ქართული"
                },
                {
                    "id": 14,
                    "code": "hy-AM",
                    "title": "Հայերեն"
                },
                {
                    "id": 15,
                    "code": "kk-KK",
                    "title": "қазақ тілі"
                },
                {
                    "id": 16,
                    "code": "hr-HR",
                    "title": "Hrvatski jezik"
                },
                {
                    "id": 17,
                    "code": "cs-CS",
                    "title": "český jazyk"
                },
                {
                    "id": 18,
                    "code": "ro-RO",
                    "title": "Limba Română"
                },
                {
                    "id": 19,
                    "code": "cn-CN",
                    "title": "中文"
                },
                {
                    "id": 20,
                    "code": "ar-AR",
                    "title": "العَرَبِيَّة"
                },
                {
                    "id": 21,
                    "code": "bg-BG",
                    "title": "Български"
                },
                {
                    "id": 22,
                    "code": "he-IL",
                    "title": "עברית"
                },
                {
                    "id": 23,
                    "code": "hu-HU",
                    "title": "Magyar nyelv"
                },
                {
                    "id": 24,
                    "code": "Lt-sr-SP",
                    "title": "Srpski jezik"
                },
                {
                    "id": 25,
                    "code": "sk-SK",
                    "title": "Slovenský jazyk"
                },
                {
                    "id": 26,
                    "code": "mn-MN",
                    "title": "Монгол хэл"
                },
                {
                    "id": 27,
                    "code": "az-AZ",
                    "title": "Azərbaycan dili"
                },
                {
                    "id": 28,
                    "code": "pl-PL",
                    "title": "Polszczyzna"
                },
                {
                    "id": 30,
                    "code": "sl-SL",
                    "title": "Slòvēnskī"
                }
            ],
            "comment_required": false,
            "metrika_counter_id": "50217133",
            "google_analytics_id": "UA-125358345-1",
            "facebook_pixel_id": "2218788388343154",
            "vkontakte_pixel_id": "VK-RTRG-96471-KZ24cpR",
            "app_metrika_id": "46ab3b93-1bc6-457d-82f0-c1b51f39b01e",
            "sms_enabled": true
        }


## Интернационализация формы бронирования [/i18n/{langCode}]

Перевод доступен на один из языков:
- Русский - 'ru-RU'
- Латвийский - 'lv-LV'
- Английский - 'en-US'
- Эстонский - 'ee-EE'
- Литовский - 'lt-LT'
- Немецкий - 'de-DE'
- Украинский - 'uk-UK'

+ Parameters
    + langCode: `ru-RU` (required, string) - Код языка. Один из набора 'ru-RU', 'lv-LV', 'en-US', 'ee-EE', 'lt-LT', 'de-DE', 'uk-UK'


### Получить параметры интернационализации [GET]

+ Request (application/json)

    + Headers

            Authorization: Bearer partner_token

+ Response 200 (application/json)



## Коллекция услуг доступных для бронирования [/book_services/{company_id}{?staff_id,datetime,service_ids}]

Объект услуг, доступных для бронирования имеет следующие поля:

| Поле  | Тип | Описание |
| ------------- | ------------- | ------------- |
|  categories  | массив объектов  | Массив категорий услуг (забронировать категорию нельзя)  |
|  services  | массив объектов  | Услуги, доступные для бронирования, с указанием категории  |

Объект из массива categories, имеет следующие поля:

| Поле  | Тип | Описание |
| ------------- | ------------- | ------------- |
|  id  |  number  |  Идентификатор категории  |
|  title  | string  |  Название категории  |
|  sex  | number  |  Принадлежность категории к полу (1 - мужской, 2 - женский, 0 - не задано)  |
|  weight  | number  |  Вес категории. При выводе категории сортируются по весу, сначала более тяжелые  |
|  api_id  | string  |  Внешний идентификатор категории  |

Объект из массива services, имеет следующие поля:

| Поле  | Тип | Описание |
| ------------- | ------------- | ------------- |
|  id  |  number  |  Идентификатор услуги  |
|  title  | string  |  Название услуги  |
|  category_id  | number  |  Идентификатор категории, которой принадлежит услуга  |
|  weight  | number  |  Вес категории. При выводе услуги сортируются по весу, сначала более тяжелые  |
|  price_min  | number  |  Минимальная стоимость услуги  |
|  price_max  | number  |  Максимальная стоимость услуги  |
|  discount  | number  |  Скидка по услуге  |
|  comment  | string  |  Комментарий к услуге  |
|  active  | number  |  Активная ли услуга  |
|  length  | number  |  Длительность оказания услуги(только если задан фильтр по сотруднику)  |
|  image  | string  |  Изображение услуги |

+ Parameters
    + company_id: `4564` (required, number) - ID компании

### Получить список услуг доступных для бронирования [GET]

Если необходимо получить услуги, которые оказывает конкретный специалист, то нужно воспользоваться фильтром по специалисту

Доступны следующие фильтры:

    + staff_id: ID сотрудника. Если нужны услуги, которые оказывает только выбранный сотрудник
    + datetime: дата (в формате iso8601). Если нужны услуги, которые можно забронировать у мастера на определенное время
    + service_ids: Массив ID услуг. Если уже выбран мастер, время и услуга(и) в рамках этой записи, и необходимо выбрать еще услугу.

+ Parameters

    + company_id (required, number) - ID компании
    + staff_id: `0` (optional, number) - ID сотрудника. Фильтр по идентификатору сотрудника
        Default: 0
    + datetime: `` (optional, string) - дата (в формате iso8601). Фильтр по дате бронирования услуги (например '2005-09-09T18:30')
        Default: ''
    + service_ids (optional, array of number) - ID услуг.
        Фильтр по списку идентификаторов уже выбранных (в рамках одной записи) услуг. Имеет смысл если задан фильтр по мастеру и дате.

+ Request (application/json)

    + Headers

            Authorization: Bearer partner_token

+ Response 200 (application/json)

        {
            "services": [
                {
                    "id":"21487",
                    "title":"Стрижка кота",
                    "category_id":89207,
                    "price_min":"0.00",
                    "price_max":"0.00",
                    "discount":"0",
                    "comment":"",
                    "weight":"23",
                    "active":1,
                    "image":"https:\/\/yclients.com\/images\/test_img2.png",
                    }
            ],
            "categories": [
                {
                    "id":"89207",
                    "title":"Стрижки",
                    "sex":0,
                    "api_id":"",
                    "weight":1
                }
            ]
        }

## Коллекция сотрудников доступных для бронирования [/book_staff/{company_id}{?service_ids,datetime,without_seances}]

Каждый объект из массива сотрудников, доступных для бронирования имеет следующие поля:

| Поле  | Тип | Описание |
| ------------- | ------------- | ------------- |
|  id  |  number  |  Идентификатор сотрудника  |
|  name  | string  |  Имя сотрудника  |
|  specialization  | string  |  Специализация сотрудника  |
|  position  | object  |  Должность сотрудника  |
|  bookable  | boolean  |  Есть ли у сотрудника сеансы, доступные для бронирования  |
|  weight  | number  |  Вес сотрудника. При выводе сотрудники сортируются по весу, сначала более тяжелые  |
|  show_rating  | number  |  Показывать ли рейтинг сотрудника (1 - показывать, 0 - не показывать)  |
|  rating  | number  |  Ретинг сотрудника  |
|  votes_count  | number  |  Кол-во голос, оценивших сотрудника  |
|  comments_count  | number  |  Кол-во комментариев к сотрунику  |
|  avatar  | string  |  Путь к файлу аватарки сотрудника  |
|  information  | string  |  Дополнительная информация о сотруднике (HTML формат)  |
|  seance_date  | string  |  Дата ближайшего дня, на который есть доступные сеансы (только для bookable = true) |
|  seances  | array of book_times  |  ближайшие доступные сеансы на дату seance_date (только для bookable = true)  |

+ Parameters
    + company_id: `4564` (required, number) - ID компании

### Получить список сотрудников доступных для бронирования [GET]

Доступны следующие фильтры:

    + service_ids: Массив ID услуг. Если нужны сотрудники, которые оказывают только выбранную услугу
    + datetime: дата (в формате iso8601). Если нужны сотрудники, у которых есть сеансы на указанную услугу в указанное время
    + without_seances (optional, bool) - Отключает выдачу ближайших свободных сеансов, ускоряет получение данных.

+ Parameters

    + company_id (required, number) - ID компании
    + service_ids (optional, array of number) - ID услуг.
        Фильтр по списку идентификаторов услуг
    + datetime (optional, string) - дата в формате iso8601.
        Фильтр по дате бронирования услуги (например '2005-09-09T18:30')
    + without_seances (optional, bool) - Отключает выдачу ближайших свободных сеансов,
    ускоряет получение данных.


+ Request (application/json)

    + Headers

            Authorization: Bearer partner_token

+ Response 200 (application/json)

        [
            {
                "id":"16",
                "name":"Вася",
                "bookable": true,
                "specialization":"Старта-пожарный",
                "position": {
                    "id": 1,
                    "title": "Администратор"
                },
                "show_rating":"1",
                "rating":"3",
                "votes_count":"1",
                "avatar":"https:\/\/salonpicker.ru\/images\/no-master.png",
                "comments_count":"0",
                "weight":"11",
                "information":"<span><\/span>",
                "seance_date": "2015-09-25",
                "seances": [
                  {
                    "time": "12:00",
                    "seance_length": 3600,
                    "datetime": "2015-09-29T12:00:00+04:00"
                  },
                  {
                    "time": "13:00",
                    "seance_length": 3600,
                    "datetime": "2015-09-29T13:00:00+04:00"
                  },
                  {
                    "time": "14:00",
                    "seance_length": 3600,
                    "datetime": "2015-09-29T14:00:00+04:00"
                  },
                  {
                    "time": "15:00",
                    "seance_length": 3600,
                    "datetime": "2015-09-29T15:00:00+04:00"
                  },
                  {
                    "time": "16:00",
                    "seance_length": 3600,
                    "datetime": "2015-09-29T16:00:00+04:00"
                  }
                ]
            },
            {
                "id":"32",
                "name":"Петя",
                "bookable": false,
                "specialization":"Стартап-проктолог",
                "position": [],
                "show_rating":"1",
                "rating":"4",
                "votes_count":"1",
                "avatar":"https:\/\/salonpicker.ru\/images\/no-master.png",
                "comments_count":"0",
                "weight":"8",
                "information":"<span><\/span>"
            }
        ]

## Даты доступные для бронирования [/book_dates/{company_id}{?service_ids,staff_id,date}]


Объект даты, доступные для бронирования имеет следующие поля:

| Поле  | Тип | Описание |
| ------------- | ------------- | ------------- |
|  working_days  |  массив рабочих дней сгруппированных по месяцам   | Рабочие дни сотрудника/организации  |
|  working_dates  | array of dates  | Массив дат, когда работает сотрудник/организация  |
|  booking_days  |  массив дней, когда есть свободные сеансы  | Массив дней, которые доступны для бронирования на указанные услуги   |
|  booking_dates  | array of dates  | Массив дат, когда есть свободные сеансы на услугу к выбранному сотрунику/организации   |

working days и booking_days имеют одинаковый формат:
месяц:[массив дней в этом месяце]

Например такой booking_days:
        "9": [
              "4",
              "5"]
        "10": [
              "14",
              "25"]
Означает что на 4 и 5 сентября, и на 14 и 25 октября есть свободные сеансы для бронирования

### Получить список дат доступных для бронирования [GET]

Доступны следующие фильтры:

    + service_ids: Массив ID услуг. Если нужны даты, когда можно забронировать указанные услуги
    + staff_id: ID сотрудника. Если нужны даты, когда можно забронировать указанного специалиста
    + date: Дата в рамках месяца, если нужны даты по конкретному месяцу

+ Parameters

    + company_id (required, number) - ID компании
    + service_ids (optional, array of number) - ID услуг.
        Фильтр по списку идентификаторов услуг
    + staff_id: `0` (optional, number) - ID сотрудника. Фильтр по идентификатору сотрудника
        Default: 0
    + date (optional, string) - дата в формате iso8601.
        Фильтр по месяцу бронирования (например '2015-09-01')


+ Request (application/json)

     + Headers

            Authorization: Bearer partner_token

+ Response 200 (application/json)

        {
          "booking_days": {
            "9": [
              "4",
              "5",
              "8",
              "9",
              "12",
              "13",
              "16",
              "17",
              "20",
              "21",
              "24",
              "25",
              "28",
              "29",
              "30"
            ],
            "10": [
              "1",
              "4",
              "5",
              "8",
              "9",
              "12",
              "13",
              "16",
              "17",
              "20",
              "21",
              "24",
              "25"
            ]
          },
          "booking_dates": [
            "2015-09-04",
            "2015-09-05",
            "2015-09-08",
            "2015-09-09",
            "2015-09-12",
            "2015-09-13",
            "2015-09-16",
            "2015-09-17",
            "2015-09-20",
            "2015-09-21",
            "2015-09-24",
            "2015-09-25",
            "2015-09-28",
            "2015-09-29",
            "2015-09-30",
            "2015-10-01",
            "2015-10-04",
            "2015-10-05",
            "2015-10-08",
            "2015-10-09",
            "2015-10-12",
            "2015-10-13",
            "2015-10-16",
            "2015-10-17",
            "2015-10-20",
            "2015-10-21",
            "2015-10-24",
            "2015-10-25"
          ],
          "working_days": {
            "9": [
              "4",
              "5",
              "8",
              "9",
              "12",
              "13",
              "16",
              "17",
              "20",
              "21",
              "24",
              "25",
              "28",
              "29",
              "30"
            ],
            "10": [
              "1",
              "4",
              "5",
              "8",
              "9",
              "12",
              "13",
              "16",
              "17",
              "20",
              "21",
              "24",
              "25"
            ]
          },
          "working_dates": [
            "2015-09-04",
            "2015-09-05",
            "2015-09-08",
            "2015-09-09",
            "2015-09-12",
            "2015-09-13",
            "2015-09-16",
            "2015-09-17",
            "2015-09-20",
            "2015-09-21",
            "2015-09-24",
            "2015-09-25",
            "2015-09-28",
            "2015-09-29",
            "2015-09-30",
            "2015-10-01",
            "2015-10-04",
            "2015-10-05",
            "2015-10-08",
            "2015-10-09",
            "2015-10-12",
            "2015-10-13",
            "2015-10-16",
            "2015-10-17",
            "2015-10-20",
            "2015-10-21",
            "2015-10-24",
            "2015-10-25"
          ]
        }

## Сеансы доступные для бронирования [/book_times/{company_id}/{staff_id}/{date}{?service_ids}]

Объект сеансы, доступные для бронирования имеет следующие поля:

| Поле  | Тип | Описание |
| ------------- | ------------- | ------------- |
|  time  |  string   | Время сеанса (17:30 например)   |
|  seance_length  | number  | Длительность сеанса в секундах  |
|  datetime  |  datetime  | Дата и время сеанса в формате ISO8601 (нужно передавать при создании записи)   |


### Получить список сеансов доступных для бронирования [GET]


Доступны следующие фильтры:

    + service_ids: Массив ID услуг. Если нужны сеансы, когда можно забронировать указанные услуги

+ Parameters

    + company_id (required, number) - ID компании
    + service_ids (optional, array of number) - ID услуг.
        Фильтр по списку идентификаторов услуг
    + date (required, string) - дата в формате iso8601.
        Фильтр по дате бронирования (например '2015-09-30')
    + staff_id: `0` (optional, number) - ID сотрудника. Фильтр по идентификатору сотрудника
        Default: 0

+ Request (application/json)

    + Headers

            Authorization: Bearer partner_token

+ Response 200 (application/json)


    + Attributes (Seance)


    + Body

            [
              {
                "time": "12:00",
                "seance_length": 3600,
                "datetime": "2015-09-29T12:00:00+04:00"
              },
              {
                "time": "13:00",
                "seance_length": 3600,
                "datetime": "2015-09-29T13:00:00+04:00"
              },
              {
                "time": "14:00",
                "seance_length": 3600,
                "datetime": "2015-09-29T14:00:00+04:00"
              },
              {
                "time": "15:00",
                "seance_length": 3600,
                "datetime": "2015-09-29T15:00:00+04:00"
              },
              {
                "time": "16:00",
                "seance_length": 3600,
                "datetime": "2015-09-29T16:00:00+04:00"
              }
            ]

## Список ближайших сеансов сотрудника [/book_staff_seances/{company_id}/{staff_id}/{?service_ids,datetime}]

Объект ближайших сеансов сотрудника имеет следующие поля:

| Поле | Тип | Описание |
| ------------- | ------------- | ------------- |
|  seance_date  |  string   | Ближайшая дата с доступными сеансами   |
|  seances  | Array  | Список доступных сеансов  |

### Получить список ближайших доступных сеансов [GET]

Доступны следующие фильтры:

+ service_ids: Массив ID услуг. Если нужны сеансы, когда можно забронировать указанные услуги
+ datetime: дата (в формате iso8601), за которую необходимо получить ближайшие сеансы

+ Parameters

    + company_id (required, number) - ID компании
    + staff_id (required, number) - ID сотрудника
    + service_ids (optional, array of number) - ID услуг.
        Фильтр по списку идентификаторов услуг
    + datetime (optional, string) - дата в формате iso8601.
        Фильтр по дате


+ Request (application/json)

    + Headers

            Authorization: Bearer partner_token

+ Response 200 (application/json)


    + Attributes (Seance)
        + seance_date (string)
        + seances (array[Seance])


    + Body

            {
              "seance_date": "2017-04-13",
              "seances": [
                {
                  "time": "10:00",
                  "seance_length": 3600,
                  "datetime": "2017-04-13T10:00:00+04:00"
                },
                {
                  "time": "10:15",
                  "seance_length": 3600,
                  "datetime": "2017-04-13T10:15:00+04:00"
                },
                {
                  "time": "10:30",
                  "seance_length": 3600,
                  "datetime": "2017-04-13T10:30:00+04:00"
                },
                {
                  "time": "10:45",
                  "seance_length": 3600,
                  "datetime": "2017-04-13T10:45:00+04:00"
                },
                {
                  "time": "11:00",
                  "seance_length": 3600,
                  "datetime": "2017-04-13T11:00:00+04:00"
                }
              ]
            }

## СМС код подтверждения номера телефона [/book_code/{company_id}]

+ Тело запроса
    + phone (required, string, '79991234567') - телефон, на который будет отправлен код
    + fullname (option, sring, `Вася`) - Имя клиента

### Отправить СМС код подтверждения номера телефона [POST]

+ Parameters

    + company_id: 4564 (required, number) - ID компании


+ Request (application/json)

    + Attributes
        + phone: '79161001010' (required, string) - Телефон, на который будет отправлен код (например '79161005050')
        + fullname: 'Василиса' (string) - Имя клиента

     + Headers

            Authorization: Bearer partner_token

    + Body

               {
                    "phone": "79991234567",
                    "fulname": "Вася"
                }

+ Response 201 (application/json)

## Проверка параметров записи на сеанс [/book_check/{company_id}]

После формирования параметров записи(ей) можно проверить их на возможность создание записей.

JSON-Объект содержащий параметры онлайн записи имеет следующие поля:

| Поле | Тип | Обязательный | Описание |
| ------------- | ------------- | ------------- | ------------- |
| appointments  | Массив объктов  |  ДА  | Параметры записи (услуги, специалисты...) |

Массив appointments состоит из объектов,которые имюет следующие поля:

| Поле | Тип | Обязательный | Описание |
| ------------- | ------------- | ------------- | ------------- |
| id  | number  |  Да  | Идентификатор записи для обратной связи после сохранения (смотри ответ на запрос).
| services  | array of numbers  | НЕТ  |  Массив идентификторов услуг, на которые клиент хочет записаться |
| staff_id  | number  |  ДА  | Идентификатор специалиста, к которому клиент хочет записаться (0 если выбран любой мастер)  |
| datetime  | datetime  |  ДА  | Дата и время сеанса в формате ISO8601 (передается для кадого сеанса в ресурсе book_times)|


В ответ на запрос проверки параметров придет пустой ответ с кодом 201 если параметры записи в порядке и записи могут быть созданы:

Если в ответ придет JSON с HTTP кодом отличным от 201, значит параметры записи не в порядке, а записи не могут быть созданы.

Ошибки, которые может вернуть сервер:

1. Выбранное время одной из записей уже занято.
В этом случае приходит ответ с http-кодом 422 и кодом ошибки 433,
а так же в поле id передается идентификатор записи из массива appointments

2. Нет сотрудников доступных для записи (если был выбран мастер по умолчанию).
В этом случае приходит ответ с http-кодом 422 и кодом ошибки 436

3. Выбранное время одной из записей пересекается с временем записи, создаваемой этим же запросом.
В этом случае приходит ответ с http-кодом 422 и кодом ошибки 437,
а так же в поле id передается идентификатор записи из массива appointments

4. Нет записи на указанную услуги. (Компания уже удалили выбранные услуги)
В этом случае приходит ответ с http-кодом 422 и кодом ошибки 438


### Проверить параметры записи [POST]

+ Parameters

    + company_id (required, number) - ID компании

+ Request (application/json)

    + Attributes

        + appointments (required, Appointment) - Параметры записей (сеанс, услуги, мастер)


    + Headers

            Authorization: Bearer partner_token

    + Body

               {
                    "appointments": [
                        {
                            "id":1,
                            "services":[331],
                            "staff_id": 6544,
                            "datetime": "2015-09-30T15:30:00+04:00"
                        },
                        {
                            "id":2,
                            "services":[99055],
                            "staff_id": 6544,
                            "datetime": "2015-09-30T16:00:00+04:00"
                        }
                    ]
                }

+ Response 201 (application/json)

    + Body

            {
              "errors": {
                "code": 437,
                "id": 2,
                "message": "К сотруднику Ирина Александровна(6544) нельзя записаться на 30 сентября 2015 в 16:00. Пересечение с предыдущим визитом."
              }
            }



## Запись на сеанс [/book_record/{company_id}/{record_id}]


JSON-Объект содержащий параметры онлайн записи имеет следующие поля:

| Поле | Тип | Обязательный | Описание |
| ------------- | ------------- | ------------- | ------------- |
| phone  | string  | ДА  |  Телефон клиента (например 79161502239)  |
| fullname  | string  |  ДА  | Имя клиента  |
| email  | string  |  ДА  | Почтовый адрес клиента  |
| appointments  | Массив объктов  |  ДА  | Параметры записи (услуги, специалисты...) |
| code  | string  |  НЕТ  |  Код подтверждения номера телефона,высланный по СМС (нужен только в случае необходимости подтверждения номера)  |
| notify_by_sms  | number  |  НЕТ  |  За какое кол-во часов отправить смс напоминание о записи (0 если не нужно напоминать)  |
| notify_by_email  | number  |  НЕТ  |  За какое кол-во часов отправить email напоминание о записи (0 если не нужно напоминать)  |
| comment  | string  |  НЕТ  | Комментарий к записи  |
| api_id  | string  |  НЕТ  | Внешний идентификатор записи  |

Массив appointments состоит из объектов, которые имюет следующие поля:

| Поле | Тип | Обязательный | Описание |
| ------------- | ------------- | ------------- | ------------- |
| id  | number  |  Да  | Идентификатор записи для обратной связи после сохранения (смотри ответ на запрос).
| services  | array of numbers  | НЕТ  |  Массив идентификторов услуг, на которые клиент хочет записаться |
| staff_id  | number  |  ДА  | Идентификатор специалиста, к которому клиент хочет записаться (0 если выбран любой мастер)  |
| datetime  | datetime  |  ДА  | Дата и время сеанса в формате ISO8601 (передается для кадого сеанса в ресурсе book_times)|
| custom_fields | key-value object | НЕТ | Значения дополнительных полей записи которые возвращаются вместе с записью |

Дополнительные поля в массиве appointments

При создании дополнительных полей записи (см. раздел "Дополнительные поля") становится возможным передавать собственные значения для полей.
Дополнительные поля уникальны для каждой компании. После создания дополнительных полей, их значения для конкретной записи могут
передаваться в необязательном поле custom_fields в виде пар ключ-значение где ключ это поле "code" дополнительного поля. Пример:

* Создали дополнительное поле записи с code="my_custom_field" type="number", и второе поле code="some_another_field" type="list"

* Передали при создании записи в элементе массива appointments еще один атрибут:
appointments: [{
    ...
}, {
    ...
    custom_fields: {
        "my_custom_field": 123,
        "some_another_field": ["first value", "second value"]
    }
}]

* При получении данной записи методом GET впоследствии, это же значение дополнительных полей вернется в ответе


В ответ на запрос создания записи придет массив объектов (кол-во объектов равно кол-ву объектов в массиве appointments) со следующими полями:

| Поле | Тип | Описание |
| ------------- | ------------- | ------------- |
| id  | number  |  Идентификатор записи, переданный в массиве appointments  |
| record_id  | number  |  Идентификатор созданной в системе записи  |
| record_hash  | string  |  Идентификатор записи, для ее удаления непосредственно сразу после создания  |

Ошибки, которые необходимо обрабатывать:
1. Введенный код подтверждения номера из SMS неправильный.
В этом случае приходит ответ с http-кодом 422 и кодом ошибки 432

2. Выбранное время одной из записей уже занято.
В этом случае приходит ответ с http-кодом 422 и кодом ошибки 433,
а так же в поле id передается идентификатор записи из массива appointments

3. Пользователь с указанным телефоном в черном списке и не может записываться.
В этом случае приходит ответ с http-кодом 403 и кодом ошибки 434

4. Номер телефона пользователя в неправильном формате.
В этом случае приходит ответ с http-кодом 422 и кодом ошибки 431

5. Не указано имя клиента.
В этом случае приходит ответ с http-кодом 422 и кодом ошибки 435

6. Нет сотрудников доступных для записи (если был выбран мастер по умолчанию).
В этом случае приходит ответ с http-кодом 422 и кодом ошибки 436

7. Выбранное время одной из записей пересекается с временем записи, создаваемой этим же запросом.
В этом случае приходит ответ с http-кодом 422 и кодом ошибки 437,
а так же в поле id передается идентификатор записи из массива appointments

### Создать запись на сеанс [POST /book_record/{company_id}]

+ Parameters

    + company_id (required, number) - ID компании

+ Request (application/json)

    + Attributes
        + phone: '79161001010' (required, string) - Телефон клиента
        + fullname: 'Василиса' (required, string) - Имя клиент
        + email: 'client@yclients.com' (optional, string) - Имя клиента
        + code: 20145 (optional, number) - Код подтверждения телефона, высланный по смс (обязателен если у компании выставлен phone_conformation = true)
        + comment: 'убрать усы' (optional, string) - Комментарий к записи
        + type: 'mobile' (optional, string) - Источник записи
        + notify_by_sms: 2 (optional, number) - За сколько часов до визита следует выслать смс напоминание клиенту (0 - если не нужно)
        + notify_by_email: 2 (optional, number) - За сколько часов до визита следует выслать email напоминание клиенту (0 - если не нужно)
        + api_id: 2 (optional, number) - ID записи из внешней системы
        + appointments (required, Appointment) - Параметры записей (сеанс, услуги, мастер)

    + Headers

            Authorization: Bearer partner_token

    + Body

               {
                    "phone": "79000000000",
                    "fullname": "ДИМА",
                    "email": "d@yclients.com",
                    "code": "38829",
                    "comment": "тестовая запись!",
                    "type": "mobile",
                    "notify_by_sms": 6,
                    "notify_by_email": 24,
                    "api_id": "777",
                    "appointments": [
                        {
                            "id":1,
                            "services":[331],
                            "staff_id": 6544,
                            "datetime": "2015-09-29T13:00:00+04:00",
                            "custom_fields": {
                                "my_custom_field": 123,
                                "some_another_field": ["first value", "next value"]
                            }
                        },
                        {
                            "id":2,
                            "services":[99055],
                            "staff_id": 6544,
                            "datetime": "2015-09-30T16:00:00+04:00",
                            "custom_fields": {
                                "my_custom_field": 456,
                                "some_another_field": ["next value", "last value"]
                            }
                        }
                    ]
                }

+ Response 201 (application/json)

    + Attributes
        + id: 1 (required, number) - ID записи переанный в запросе в appontments
        + record_id: 23521 (required, number) - ID записи в системе yclients. Используется для удаления записи
        + record_hash: '4мcli3ent2yclientsщщ0com' (required, string) - HASH записи в системе yclients. Используется для удаления записи неавторизованным пользователем сразу после бронирования

    + Body

            [
                {
                    "id": 1,
                    "record_id": 2820023,
                    "record_hash": "567df655304da9b98487769426d4e76e"
                },
                {
                    "id": 2,
                    "record_id": 2820024,
                    "record_hash": "34a45ddabdd446d5d33bdd27fbf855b2"
                }
            ]


### Перенести запись на сеанс [PUT]

+ Parameters

    + company_id (required, number) - ID компании
    + record_id (required, number) - ID записи которую необходимо перенести

+ Request (application/json)

    + Attributes
        + datetime: '79161001010' (required, string) - Дата и время на которое мы хотим перенести запись
        + comment: 'убрать усы' (optional, string) - Комментарий к записи


    + Headers

            Authorization: Bearer partner_token, User user_token

    + Body

               {
                  "datetime": "2016-05-20T14:30:00",
                  "comment" : "DODO!"
                }

+ Response 200 (application/json)

    + Attributes
        + id: 12655 (required, number) - ID записи
        + services: [141, 330] (required, array[number]) - Список ID услуг
        + company (required, Company) - Параметры компани
        + staff (required, Staff) - Параметры сотрудника
        + comment: 'убрать усы' (required, string) - Комментарий к записи
        + date: '2012-04-02T12:00:00Z' (required, string) - Дата сеанса
        + create_date: '2012-04-02T12:00:00Z' (required, string) - Дата создания записи
        + length: 3600 (required, number) - Длительность сеанса
        + deleted: false (required, boolean) - Уделана ли запись (true если удалена)
        + online: false (required, boolean) - Запись онлайновая или нет (false если запись внес администратор)
        + master_requested: false (required, boolean) - Был ли указан определенный специалист при записи (false если был указан "не имеет значения")
        + notify_by_sms: 2 (optional, number) - За сколько часов до визита следует выслать смс напоминание клиенту (0 - если не нужно)
        + notify_by_email: 2 (optional, number) - За сколько часов до визита следует выслать email напоминание клиенту (0 - если не нужно)
        + api_id: 2 (optional, number) - ID записи из внешней системы

    + Body

            {
                "id": 30358,
                "services": [
                  {
                    "id": 2838,
                    "title": "Массаж ног",
                    "cost": 0,
                    "discount": 0
                  }
                ],
                "company": {
                  "id": 4564,
                  "title": "",
                  "country_id": "0",
                  "country": "",
                  "city_id": "0",
                  "city": "Москва",
                  "phone": "+7 916 684-41-22",
                  "timezone": "0",
                  "address": "",
                  "coordinate_lat": "0",
                  "coordinate_lon": "0"
                },
                "staff": {
                  "id": 924,
                  "name": "Евгения",
                  "spec": "о ес",
                  "show_rating": "1",
                  "rating": "5",
                  "votes_count": "1",
                  "avatar": "https://salonpicker.ru/images/no-master.png",
                  "comments_count": "0"
                },
                "date": "2016-05-20T14:30:00",
                "create_date": "2016-05-19T14:30:10",
                "comment": "",
                "deleted": true,
                "length": 3600,
                "notify_by_sms": 0,
                "notify_by_email": 0,
                "master_requested": false,
                "online": true,
                "api_id": "0"
            }

### Создать запись в групповом событии [POST /activity/{company_id}/{activity_id}/book]

+ Parameters
    + company_id (required, number) - ID компании
    + activity_id (required, number) - ID группового события

+ Attributes
    + fullname: 'Василиса' (required, string) - Имя клиент
    + phone: '79161001010' (required, string) - Телефон клиента
    + email: 'client@yclients.com' (optional, string) - Имя клиента
    + code: 20145 (optional, number) - Код подтверждения телефона, высланный по смс (обязателен если у компании выставлен phone_conformation = true)
    + comment: 'убрать усы' (optional, string) - Комментарий к записи
    + type: 'mobile' (optional, string) - Источник записи
    + notify_by_sms: 2 (optional, number) - За сколько часов до визита следует выслать смс напоминание клиенту (0 - если не нужно)
    + notify_by_email: 2 (optional, number) - За сколько часов до визита следует выслать email напоминание клиенту (0 - если не нужно)
    + api_id: 2 (optional, number) - ID записи из внешней системы
    + clients_count: 1 (optional, number) - количество занимаемых мест

+ Request (application/json)

    + Headers

            Authorization: Bearer partner_token, User user_token

    + Body

            {
                "fullname": "Test user",
                "phone": "71110000011",
                "email": "testemail@yclients.com",
                "code": "",
                "comment": "",
                "notify_by_sms": 0,
                "notify_by_email": 0,
                "type": "mobile"
            }

+ Response 200 (application/json)

    + Body

            {
                "success": true,
                "data": {
                    "id": 28417878,
                    "hash": "9e6a54a1a9b118b65cc39ab6f3c3b5b4"
                },
                "meta": []
            }


# Group Записи пользователя

Для управлениями записями пользователя используются следующие методы

## Авторизация пользователя по номеру телефона и коду смс [/user/auth]

Для доступа к своим онлайн и оффлайн (сделанным по телефону) записям пользователь должен авторизоваться подтвердив свой номер телефона.
Для этого ему нужно выслать на свой номер телефона код подтверждения с помощью ресурса "СМС код подтверждения номера телефона"

### Авторизоваться по номеру телефона и коду [POST]

+ Request (application/json)

    + Attributes
        + phone: '79161001010' (required, string) - Телефон, на который будет отправлен код (например '79161005050')
        + code: 20123 (required, string) - Код подтверждения номера телефона, высланный по смс

    + Headers

            Authorization: Bearer partner_token

    + Body

                {
                    "phone": "79991234567",
                    "code": 30254
                }

+ Response 201 (application/json)

    + Attributes (object)
        + user_token: `wec23fh8cDfFV4432fc352456` (required, string) - User Access Token


## Записи пользователя [/user/records/{record_id}/{record_hash}]

JSON-Объект содержащий параметры записи пользователя имеет следующие поля:

| Поле | Тип | Обязательный | Описание |
| ------------- | ------------- | ------------- | ------------- |
| id  | number  | ДА  |  ID записи  |
| services  | array of numbers  |  ДА  | Список ID услуг записи  |
| company  | object  |  ДА  | Параметры компании  |
| staff  | object  |  ДА  | Параметры специалиста, которые был забронирован |
| date  | string  |  ДА  |  Дата сеанса  |
| create_date  | string  |  ДА  |  Дата создания записи  |
| length  | number  |  ДА  | Длительность сеанса  |
| deleted  | boolean  |  ДА  | Уделана ли запись (true если удалена)  |
| notify_by_sms  | number  |  НЕТ  |  За какое кол-во часов отправить смс напоминание о записи (0 если не нужно напоминать)  |
| notify_by_email  | number  |  НЕТ  |  За какое кол-во часов отправить email напоминание о записи (0 если не нужно напоминать)  |
| comment  | string  |  ДА  | Комментарий к записи  |
| master_requested  | boolean  |  ДА  | Был ли указан определенный специалист при записи (false если был указан "не имеет значения")  |
| online  | boolean  |  ДА  | Запись онлайновая или нет (false если запись внес администратор)  |
| visit_attendance  | number  |  ДА  | 1 - Пользователь пришел, услуги оказаны, 0 - ожидание пользователя, -1 - пользователь не пришел на визит  |
| api_id  | string  |  НЕТ  | Внешний идентификатор записи  |

Объект company имеет следующие поля:

| Поле  | Тип | Описание |
| ------------- | ------------- | ------------- |
|  id  |  number  |  Идентификатор компании  |
|  title  | string  |  Название компании  |
|  country_id  | number  |  Идентификатор страны, в которой расположена компания  |
|  country  | string  |  Название старны компании  |
|  city_id  | number  |  Идентификатор города, в котором расположена компания)  |
|  city  | string  |  Название города компании  |
|  timezone  | string  |  Timezone компании  |
|  address  | string  |  Адрес, по которому расположена компания  |
|  phone  | string  | Номер телефона компании  |
|  coordinate_lat  | float  |  Широта, на которой расположена компания  |
|  coordinate_lng  | float  |  Долгота  |

Объект staff имеет следующие поля:

| Поле  | Тип | Описание |
| ------------- | ------------- | ------------- |
|  id  |  number  |  Идентификатор сотрудника  |
|  name  | string  |  Имя сотрудника  |
|  specialization  | string  |  Специализация сотрудника  |
|  position  | object  |  Должность сотрудника  |
|  show_rating  | number  |  Показывать ли рейтинг сотрудника (1 - показывать, 0 - не показывать)  |
|  rating  | number  |  Ретинг сотрудника  |
|  votes_count  | number  |  Кол-во голос, оценивших сотрудника  |
|  comments_count  | number  |  Кол-во комментариев к сотрунику  |
|  avatar  | string  |  Путь к файлу аватарки сотрудника  |


### Получить записи пользователя [GET]

+ Request (application/json)

    + Headers

            Authorization: Bearer partner_token, User user_token

+ Response 201 (application/json)

    + Attributes
        + id: 12655 (required, number) - ID записи
        + services: [141, 330] (required, array[number]) - Список ID услуг
        + company (required, Company) - Параметры компани
        + staff (required, Staff) - Параметры сотрудника
        + comment: 'убрать усы' (required, string) - Комментарий к записи
        + date: '2012-04-02T12:00:00Z' (required, string) - Дата сеанса
        + create_date: '2012-04-02T12:00:00Z' (required, string) - Дата создания записи
        + length: 3600 (required, number) - Длительность сеанса
        + deleted: false (required, boolean) - Уделана ли запись (true если удалена)
        + online: false (required, boolean) - Запись онлайновая или нет (false если запись внес администратор)
        + master_requested: false (required, boolean) - Был ли указан определенный специалист при записи (false если был указан "не имеет значения")
        + notify_by_sms: 2 (optional, number) - За сколько часов до визита следует выслать смс напоминание клиенту (0 - если не нужно)
        + notify_by_email: 2 (optional, number) - За сколько часов до визита следует выслать email напоминание клиенту (0 - если не нужно)
        + api_id: 2 (optional, number) - ID записи из внешней системы


    + Body

            [
                  {
                        "id": 30358,
                        "services": [
                          {
                            "id": 2838,
                            "title": "Массаж ног",
                            "cost": 0,
                            "discount": 0
                          }
                        ],
                        "company": {
                          "id": 4564,
                          "title": "",
                          "country_id": "0",
                          "country": "",
                          "city_id": "0",
                          "city": "Москва",
                          "phone": "+7 916 684-41-22",
                          "timezone": "0",
                          "address": "",
                          "coordinate_lat": "0",
                          "coordinate_lon": "0"
                        },
                        "staff": {
                          "id": 924,
                          "name": "Евгения",
                          "spec": "о ес",
                          "show_rating": "1",
                          "rating": "5",
                          "votes_count": "1",
                          "avatar": "https://salonpicker.ru/images/no-master.png",
                          "comments_count": "0"
                        },
                        "date": "2012-04-02 12:00:00",
                        "create_date": "0000-00-00 00:00:00",
                        "comment": "",
                        "deleted": true,
                        "length": 3600,
                        "notify_by_sms": 0,
                        "notify_by_email": 0,
                        "master_requested": false,
                        "online": true,
                        "api_id": "0"
                    },
                    {
                        "id": 34805,
                        "services": [
                          {
                            "id": 154,
                            "title": "Укладка волос",
                            "cost": 0,
                            "discount": 0
                          }
                        ],
                        "company": {
                          "id": 11696,
                          "title": "Найс",
                          "country_id": "1",
                          "country": "Россия",
                          "city_id": "1",
                          "city": "Санкт-Петербург",
                          "phone": "+7 953 177-34-85",
                          "timezone": "4",
                          "address": "Ленинский пр-кт, д. 75, к. 1",
                          "coordinate_lat": "59.8584084119386",
                          "coordinate_lon": "30.189927443862"
                        },
                        "staff": {
                          "id": 1142,
                          "name": "Альфия",
                          "spec": "парикмахер",
                          "show_rating": "1",
                          "rating": "0",
                          "votes_count": "0",
                          "avatar": "https://salonpicker.ru/images/no-master.png",
                          "comments_count": "0"
                        },
                        "date": "2012-04-21 19:45:00",
                        "create_date": "0000-00-00 00:00:00",
                        "comment": "",
                        "deleted": true,
                        "length": 1800,
                        "notify_by_sms": 0,
                        "notify_by_email": 0,
                        "master_requested": false,
                        "online": true,
                        "api_id": "0"
                    }
            ]


### Удалить запись пользователя [DELETE]


+ Parameters

    + record_id: 22123 (required, number) - ID записи (достаточно для удаления записи если пользователь авторизован)
    + record_hash: 'dawd4fs09rhf0s9fafef0' (optional, string) - HASH записи (обязательно для удаления записи если пользователь не авторизован)

+ Request (application/json)

    + Headers

            Authorization: Bearer partner_token, User user_token

+ Response 200 (application/json)



# Group Компании
Для работы с компаниями используются следующие методы

## Коллекция компаний [/companies{?group_id,my,forBooking,active,moderated,coordinate_lat,coordinate_lon,distance,title,show_groups}]

Объект компании имеет следующие поля:

| Поле  | Тип | Описание |
| ------------- | ------------- | ------------- |
|  id  |  number  |  Идентификатор компании  |
|  title  | string  |  Название компании (Обязательное поле для создание компании) |
|  logo  | string  |  Адрес изображения логотипа компании  |
|  short_descr  | string  |  Категория компании  |
|  country_id  | number  |  Идентификатор страны, в которой расположена компания  |
|  country  | string  |  Название старны компании  |
|  city_id  | number  |  Идентификатор города, в котором расположена компания)  |
|  city  | string  |  Название города компании  |
|  timezone  | string  |  Timezone компании  |
|  schedule  | string  |  Расписание работы компании  |
|  address  | string  |  Адрес, по которому расположена компания  |
|  phone  | string  | Номер телефона компании  |
|  coordinate_lat  | float  |  Широта, на которой расположена компания  |
|  coordinate_lon  | float  |  Долгота  |
|  app_ios  | string  |  Ссылка на приложение под ios  |
|  app_android  | string  |  Ссылка на приложение под android  |
|  phone_confirmation  | boolean  | Нужно ли подтверждать телефон по смс  |
|  active_staff_count  | number  | Кол-во сотрудников доступных для бронирования  |
|  next_slot  | datetime  | Дата и время ближайшего свободного сеанса в компании(ISO8601). Поле будет присутствовать только если передан GET параметр forBooking=1
|  booking_comment_required  | boolean | Является ли поле с комментарием к записи обязательным для заполнения
|  booking_email_required  | boolean | Является ли поле Email к записи обязательным для заполнения
|  booking_comment_input_name  | string (optional)  | Заголовок для поля с вводом комментария к записи (если не задано, то используется значение по умолчанию)
|  booking_notify_text  | string (optional)  | Текст уведомления, которое выводится (если задано) на шаге ввода контактных данных
|  reminds_sms_disabled  | boolean  | True - если у компании выключен сервис SMS напоминаний клиентам.
|  group_priority  | number  | Чем больше приоритет, тем выше компания при выводе в списке филиалов сети
|  allow_change_record  | boolean  | Изменение записи  |
|  allow_change_record_delay_step  | number  | Запретить изменять записи за период. (В секундах)
|  allow_delete_record  | boolean  | Удаление записи  |
|  allow_delete_record_delay_step  | number  | Запретить удалять записи за период. (В секундах)


### Получить список список компаний [GET]

#### Фильтрация компаний
+ group_id: ID сети компаний. Если нужны компании входящие в конкретную сеть
+ my: Только для авторизованного пользователя. Если нужно компании, на управление которыми пользователь имеет права
+ active: Если нужно получить только активные для онлайн-записи компании
+ moderated: Если нужно получить только прошедшие модерацию компании. Т.е. чей контент проверен для публикации
+ forBooking: Если нужно получить поле next_slot по каждой компании
+ coordinate_lat: Широта центра поиска по координатам
+ coordinate_lon: Долгота центра поиска по координатам
+ distance: Радиус поиска
+ title: Поиск по вхождению подстроки в название компании
+ show_groups: Включить в обьект компании список сетей в которые входит эта компания


+ Parameters

    + group_id: 83 (optional, number) - ID сети компаний.
        Фильтр по идентификатору сети компаний
        Default: 83
    + my: 1 (optional, number) - Только для авторизованного пользователя. Если нужно компании, на управление которыми пользователь имеет права
    + active: 1 (optional, number) - Если нужно получить только активные для онлайн-записи компании
    + moderated: 1 (optional, number) - Если нужно получить только прошедшие модерацию компании. Т.е. чей контент проверен для публикации
    + forBooking: 1 (optional, number) - Если нужно получить поле next_slot по каждой компании
    + show_groups: 1 (optional, number) - Включить в обьект компании список сетей в которые входит эта компания

+ Request (application/json)

    + Headers

            Authorization: Bearer partner_token

+ Response 200 (application/json)

        [
            {
                "id": "1050",
                "title": "Ля Визаж",
                "short_descr": "Салон красоты",
                "logo": "https://salonpicker.ru/images/icon.png",
                "active": "1",
                "phone": "+7 495 509-24-46",
                "country_id": 1,
                "schedule": "",
                "country": "Россия",
                "city_id": 1,
                "city": "Москва",
                "timezone": "Europe/Moscow",
                "address": "Талалихина, д. 1, к. 2",
                "coordinate_lat": "55.735662",
                "coordinate_lon": "37.678218",
                "phone_confirmation": true,
                "active_staff_count": 2,
                "next_slot": "2015-09-29T12:00:00+04:00",
                "app_ios": "",
                "app_android": "",
                "currency_short_title": "р",
                "group_priority": 900,
            },
            {
                "id": "1051",
                "title": "Ля Визаж 2",
                "short_descr": "Салон красоты",
                "logo": "https://salonpicker.ru/images/icon.png",
                "active": "1",
                "phone": "+7 495 509-24-46",
                "country_id": 1,
                "country": "Россия",
                "city_id": 1,
                "city": "Москва",
                "timezone": "Europe/Moscow",
                "address": "Талалихина, д. 1, к. 2",
                "coordinate_lat": "55.835662",
                "coordinate_lon": "37.778218",
                "phone_confirmation": false,
                "active_staff_count": 3,
                "next_slot": "2015-09-29T11:00:00+04:00",
                "app_ios": "",
                "app_android": "",
                "currency_short_title": "р",
                "group_priority": 901,
            }
        ]

### Создать компанию [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer partner_token, User user_token
    + Body

               {
                    "title": "Новая компания",
                    "country_id": 1,
                    "city_id": 2,
                    "timezone": "Europe/Moscow",
                    "address": "Талалихина, д. 1, к. 2",
                    "coordinate_lat": "55.835662",
                    "coordinate_lon": "37.778218"
                }

+ Response 201 (application/json)

            {
                "id": "1050",
                "title": "Новая компания",
                "short_descr": "Салон красоты",
                "logo": "https://salonpicker.ru/images/icon.png",
                "active": "1",
                "phone": "",
                "country_id": 1,
                "schedule": "",
                "country": "Россия",
                "city_id": 2,
                "city": "Москва",
                "timezone": "Europe/Moscow",
                "address": "Талалихина, д. 1, к. 2",
                "coordinate_lat": "55.735662",
                "coordinate_lon": "37.678218",
                "phone_confirmation": true,
                "active_staff_count": 2,
                "app_ios": "",
                "app_android": "",
                "currency_short_title": "р",
            }

## Компания [/company/{id}/{?forBooking,show_groups}]

+ Параметр
    + id (required, number, `1`) ...
    + forBooking: 1 (optional, number) - Дата и время ближайшего свободного сеанса в компании(ISO8601).
    + show_groups: 1 (optional, number) - Включить в обьект компании список сетей в которые входит эта компания

### Получить компанию [GET]
+ Request (application/json)

    + Headers

            Authorization: Bearer partner_token

+ Response 200 (application/json)

        {
            "id": 37532,
            "title": "Новая компания",
            "country_id": 1,
            "country": "Россия",
            "city_id": 1,
            "city": "Москва",
            "timezone" : "Europe/Moscow",
            "address": "Большой Саввинский пер., д. 3,
            "coordinate_lat": "55.735662",
            "coordinate_lon": "37.678218",
            "phone_confirmation": true,
            "active_staff_count": 2,
            "next_slot": "2015-09-22 10:00:00",
            "group_priority": 900,
            "push_notification_phone_confirm": 1
        }

### Изменить компанию [PUT]

+ Request (application/json)

  + Headers

            Authorization: Bearer partner_token, User user_token
  + Body

            {
                "title": "Новая компания",
                "country" : "Россия",
                "city" : "Москва",
                "timezone" : "Europe/Moscow",
                "address": "Большой Саввинский пер., д. 4"
            }

+ Response 200 (application/json)

        { "id": 37532 }


### Удалить компанию [DELETE]

+ Request (application/json)

  + Headers

            Authorization: Bearer partner_token, User user_token


+ Response 204

# Group Категория услуг
Для работы с категориями услуг используются следующие методы

Объект категории услуг имеет следующие поля:

| Поле  | Тип | Описание |
| ------------- | ------------- | ------------- |
|  id  |  number  |  Идентификатор категории  |
|  title  | string  |  Название категории  |
|  api_id  | string  |  Внешний идентификатор категории  |
|  weight  | number  |  Вес категории (используется для сортировки категорий при отображении)  |
|  staff  | array  |  Список ID сотрудников, оказывающих услугу |

#### Фильтрация категорий услуг
+ staff_id: ID сотрудника. Если нужны услуги, которые оказывает конкретный мастер

## Коллекция категорий услуг [/service_categories/{company_id}/{id}{?staff_id}]

+ Параметр
    + company_id (required, number) - ID компании
    + id (optional, number) - ID категории услуг (для работы с конкретной категорией)
    + staff_id (optional, number) - ID сотрудника (для получения категорий, привязанных к сотруднику)


+ Parameters

    + company_id: 1 (required, number) - ID компании
    + id: 1 (optional, number) - ID категории услуг
    + staff_id: 1 (optional, number) - ID сотрудника (для получения категорий, привязанных к сотруднику)

### Получить список категорий услуг [GET /company/{company_id}/service_categories/{id}{?staff_id}]

+ Request (application/json)

    + Headers

        Authorization: Bearer partner_token

+ Response 200 (application/json)

        {
            "success": true,
            "data": [
                {
                    "id": 345,
                    "title": "Стрижки мужские",
                    "api_id" : "adw322",
                    "weight": 10,
                    "staff": [
                          5006,
                          8901,
                          26514,
                          26516,
                          26519,
                          26520
                    ]
                },
                {
                    "id": 3456,
                    "title": "Стрижки женские",
                    "api_id" : "adw323",
                    "weight": 9,
                    "staff": [
                      5006,
                      8901
                    ]
                }
            ],
            meta: {
                "total_count": 2
            }
        }

+ Response 403 (application/json)
    + Body
        {
            "success": false,
            "data": null,
            "meta": {
                "message": "Необходимо продлить лицензию в филиале с id: {company_id}"
            }
        }

+ Response 404 (application/json)
    + Body
        {
            "success": false,
            "data": null,
            "meta": {
                "message": "Не указан филиал."
            }
        }

+ Response 404 (application/json)
    + Body
        {
            "success": false,
            "data": null,
            "meta": {
                "message": "Филиал не найден."
            }
        }

+ Response 404 (application/json)
    + Body
        {
            "success": false,
            "data": null,
            "meta": {
                "message": "Категория услуг не существует."
            }
        }

+ Response 404 (application/json)
    + Body
        {
            "success": false,
            "data": null,
            "meta": {
                "message": "Сотрудник не найден."
            }
        }


### Устаревшее. Получить список категорий услуг [GET /service_categories/{company_id}/{id}{?staff_id}]

+ Request (application/json)

  + Headers

            Authorization: Bearer partner_token

+ Response 200 (application/json)

        [{
            "id": 345,
            "title": "Стрижки мужские",
            "api_id" : "adw322",
            "weight": 10,
            "staff": [
              5006,
              8901,
              26514,
              26516,
              26519,
              26520
            ]
        },
        {
            "id": 3456,
            "title": "Стрижки женские",
            "api_id" : "adw323",
            "weight": 9,
            "staff": [
              5006,
              8901
            ]
        }]

### Создать категорию услугу [POST /service_categories/{company_id}]

+ Request (application/json)

  + Headers

            Authorization: Bearer partner_token, User user_token
  + Body

            {
                "title": "Стрижка очень женская",
                "api_id" : "adw322",
                "weight": 111,
                "staff": [
                  5006,
                  8901
                ]
            }

+ Response 201 (application/json)

        {
            "id": 3,
            "title": "Стрижка очень женская",
            "api_id" : "adw322",
            "weight": 111,
            "staff": [
              5006,
              8901
            ]
        }


## Категория услуг [/service_category/{company_id}/{id}]

+ Параметры
    + company_id (required, number, `1`) - ID компании
    + id (required, number, `1`) - ID категории услуг

### Получить категорию услуг [GET]

+ Request (application/json)

  + Headers

            Authorization: Bearer partner_token

+ Response 200 (application/json)

        {
            "id": 3
            "title": "Стрижки женские",
            "weight": 12,
            "staff": [
              5006,
              8901
            ]
        }


### Изменить категорию услуг [PUT]

+ Request (application/json)

  + Headers

            Authorization: Bearer partner_token, User user_token
  + Body

            {
                "title": "Стрижки женские",
                "weight": 15,
                "staff": [
                  5006,access
                  8901
                ]
            }

+ Response 200 (application/json)

        {
            "id": 3,
            "title": "Стрижки женские",
            "weight": 15,
            "staff": [
              5006,
              8901
            ]
        }


### Удалить категорию услуг [DELETE]

+ Request (application/json)

  + Headers

            Authorization: Bearer partner_token

+ Response 204



# Group Услуги

Для работы с услугами используются следующие методы

Объект услуги имеет следующие поля:

| Поле  | Тип | Описание |
| ------------- | ------------- | ------------- |
|  id  |  number  |  Идентификатор услуги  |
|  category_id  |  number  |  Идентификатор категории, в которой состоит услуга  |
|  title  | string  |  Название категории  |
|  price_min  | number  |  Минимальная цена на услугу  |
|  price_max  | number  |  Максимальная цена на услугу |
|  active  | number  |  1 - доступна для онлайн записи, 0 - не доступна |
|  comment  | string  |  комментарий у услуге |
|  api_id  | string  |  Внешний идентификатор услуги  |
|  weight  | number  |  Вес категории (используется для сортировки категорий при отображении)  |
|  staff  | array  |  Список сотрудников, оказывающих услугу и длительность сеанса |
|  image_group | object | Группа изображений услуги |

Массив со списком сотрудников, оказывающих услугу состоит из объектов со следующими полями

| Поле  | Тип | Описание |
| ------------- | ------------- | ------------- |
|  id  |  number  |  Идентификатор сотрудника  |
|  seance_length  |  number  |  Длительность оказания услуги мастером. (В секундах)  |


#### Фильтрация услуг
+ staff_id: ID сотрудника. Если нужны услуги, которые оказывает конкретный мастер
+ category_id: ID категории. Если нужны услуги, из конкретной категории

## Коллекция услуг [/services/{company_id}/{service_id}{?staff_id,category_id}]

+ Параметр
    + company_id (required, number, `1`) - ID компании
    + service_id (optional, number, `1`) - ID услуги

### Получить список услуг / конкретную услугу [GET /company/{company_id}/services/{service_id}{?staff_id,category_id}]

+ Parameters

    + company_id (required, number) - ID компании
    + service_id (optional, number) - ID услуги, если нужно работать с конкретной услугой.
    + staff_id (optional, number) - ID сотрудника, если нужно отфильтровать по сотруднику
    + category_id (optional, number) - ID категории, если нужно отфильтровать по категории

+ Request (application/json)

    + Headers
            Authorization: Bearer partner_token


+ Response 200 (application/json)

        {
            "success": true,
            "data": [
                {
                    "id": "79067",
                    "title": "Бритье головы",
                    "category_id": "4",
                    "price_min": "1000.00",
                    "price_max": "1000.00",
                    "discount": "0",
                    "comment": "",
                    "weight": "2",
                    "active": "1",
                    "api_id": "",
                    "staff": []
                },
                {
                    "id": "83169",
                    "title": "Мужская стрижка",
                    "category_id": "83167",
                    "price_min": "1300.00",
                    "price_max": "1300.00",
                    "discount": "0",
                    "comment": "",
                    "weight": "6",
                    "active": "1",
                    "api_id": "00000000042",
                    "staff": [
                        {
                            "id": "5905",
                            "seance_length": "2700"
                        },
                        {
                            "id": "5907",
                            "seance_length": "3600"
                        },
                        {
                            "id": "8973",
                            "seance_length": "3600"
                        },
                        {
                            "id": "13616",
                            "seance_length": "3600"
                        },
                        {
                            "id": "16681",
                            "seance_length": "3600"
                        },
                        {
                            "id": "17969",
                            "seance_length": "3600"
                        },
                        {
                            "id": "34006",
                            "seance_length": "3600"
                        }
                    ],
                    "image_group": {
                        "id": 72234,
                        "entity": "settings_service",
                        "entity_id": 389927,
                        "images": {
                            "basic": {
                                "id": "186791",
                                "path": "https://yclients.com/path/to/image/tagret-image.jpeg",
                                "width": "372",
                                "height": "280",
                                "type": "jpeg",
                                "image_group_id": 72234,
                                "version": "basic"
                            }
                        }
                    }
                }
            ],
            "meta": {
                "total_count": 2
            }
        }

+ Response 403 (application/json)
    + Body
        {
            "success": false,
            "data": null,
            "meta": {
                "message": "Необходимо продлить лицензию в филиале с id: {company_id}"
            }
        }

+ Response 404 (application/json)
    + Body
        {
            "success": false,
            "data": null,
            "meta": {
                "message": "Не указан филиал."
            }
        }

+ Response 404 (application/json)
    + Body
        {
            "success": false,
            "data": null,
            "meta": {
                "message": "Филиал не найден."
            }
        }

+ Response 404 (application/json)
    + Body
        {
            "success": false,
            "data": null,
            "meta": {
                "message": "Услуга не указана."
            }
        }

+ Response 404 (application/json)
    + Body
        {
            "success": false,
            "data": null,
            "meta": {
                "message": "Услуга не найдена."
            }
        }

+ Response 404 (application/json)
    + Body
        {
            "success": false,
            "data": null,
            "meta": {
                "message": "Категория не найдена."
            }
        }

### Устаревшее. Получить список услуг / конкретную услугу [GET /services/{company_id}/{service_id}{?staff_id,category_id}]

+ Parameters

    + company_id (required, number) - ID компании
    + service_id (optional, number) - ID услуги, если нужно работать с конкретной услугой.
    + staff_id (optional, number) - ID сотрудника, если нужно отфильтровать по сотруднику
    + category_id (optional, number) - ID категории, если нужно отфильтровать по категории

+ Request (application/json)

  + Headers

            Authorization: Bearer partner_token


+ Response 200 (application/json)

        [{
            "id": "79067",
            "title": "Бритье головы",
            "category_id": "4",
            "price_min": "1000.00",
            "price_max": "1000.00",
            "discount": "0",
            "comment": "",
            "weight": "2",
            "active": "1",
            "api_id": "",
            "staff": []
          },
          {
            "id": "83169",
            "title": "Мужская стрижка",
            "category_id": "83167",
            "price_min": "1300.00",
            "price_max": "1300.00",
            "discount": "0",
            "comment": "",
            "weight": "6",
            "active": "1",
            "api_id": "00000000042",
            "staff": [
              {
                "id": "5905",
                "seance_length": "2700"
              },
              {
                "id": "5907",
                "seance_length": "3600"
              },
              {
                "id": "8973",
                "seance_length": "3600"
              },
              {
                "id": "13616",
                "seance_length": "3600"
              },
              {
                "id": "16681",
                "seance_length": "3600"
              },
              {
                "id": "17969",
                "seance_length": "3600"
              },
              {
                "id": "34006",
                "seance_length": "3600"
              }
            ],
[...]
